<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "basic.html"%}
	{%block logout%}<li><a href="{% url 'logout'%}">LOGOUT</a></li>{%endblock%}
    <meta charset="UTF-8">
    <title>reservation</title>
</head>
<>
    {% block logo%}Reserved a Table Today!<br>
	{%for msg in messages%}<h2><br>{{msg}}</h2>{%endfor%}
	{% endblock%}
    {% block body%}

		<div id="fh5co-sreservation-form" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2 style="color:white;">Reservation</h2>
					<div class="row">
						<div class="col-md-6">
							<p> We provide the best facilities. Join us today. please do Reservation below and visit our CAFE.</p>
                            <br><br><br>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-md-push-4 col-sm-4 col-sm-push-4">
					<form action="" method="POST" id="form-wrap">
						{%csrf_token%}
						<div class="row form-group">
							<div class="col-md-12">
								<label>Your Name</label>
								<input type="text" class="form-control" name="name">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="many">How Many People</label>
								<select name="many" id="many" class="form-control custom_select">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4+</option>
								</select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="taskdatetime">When</label>
								<input type="text" name="taskdatetime" id="taskdatetime" class="form-control"/>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Submit Form">
							</div>
						</div>

					</form>
				</div>


			</div>
		</div>
	</div>
    {% endblock%}
</body>
</html>